body {
    background-color: beige;
}

.container {
    display: grid;
    /* grid-template-columns: 50px 50px 50px; */
    /* grid-template-columns: 100px minmax(50px, 1fr) 100px; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 50px 50px;
    row-gap: 5px;
    column-gap: 5px;
    /* gap: 5px; shorthand syntax*/
    justify-items: stretch;
    align-items: stretch;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-auto-rows: 50px;
}

.item {
    background-color: aqua;
    border: 1px solid black;
}

.item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    align-self: center;
}

.item-2 {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}

.item-3 {
    /* Short hand syntax explicit*/
    /* grid-column: 1 / 3; */
    /* grid-row: 2 / 4; */

    /* Short hand syntax span*/
    grid-column: span 2;
    grid-row: span 2;

    /* Short hand syntax area */
    /* grid-area: 2 / 1 / 4 / 3; */
}

.second-container {
    display: grid;
    gap: 5px;
    grid-template-areas: 
        "header header aside"
        "main main aside"
        "main main aside";
    grid-auto-flow: row;
    grid-auto-rows: 50px;
    justify-content: stretch;
}

.second-item {
    background-color: aqua;
}

.second-item-1 {
    grid-area: header;
}

.second-item-2 {
    grid-area: aside;
}

.second-item-3 {
    grid-area: main;
}
