@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    color: #999C9F;
    text-align: center;
}

.subtitle {
    font-size: italic;
    color: black;
}

p {
    font-family: 'Montserrat';
}