.parent {
    width: 60%;
    background-color: #4CAF50;
    padding: 20px;
    box-sizing: border-box;
}

.child {
    width: 50%;
    background-color: #FFC107;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    color: #fff;
    font-weight: bold;
}