body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header, footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(47, 47, 47);
    justify-content: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 5px 10px;
}

.container {
    color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    justify-items: stretch;
    text-align: center;
}

.section {
    background-color: lightgray;
    padding: 10px;
    border: 1px solid darkgray;
}

/* 1400px
900px
600px */
/* Desktop First Approach */
@media (min-width: 601px) and (max-width: 900px) {
    body {
        padding-left: 200px;
    }
    
    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 200px;
        height: 100vh;
        align-content: flex-start;
    }

    .container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .container {
        grid-template-columns:  1fr;
    }
}
